# core
.DS_Store
.env
.env*.local
.env.production
output
dist
target
.idea
.cache
.output
node_modules
package-lock.json
yarn.lock
.vercel
*.db
.repo_ignore
i.*
i-*
i/
internal/
past.*
past-*
past/
*.log
private
.blade
.npm-cache

sh/
wip.md
sync/
ext/

# zed
zed/.tmp*
zed/conversations/
zed/embeddings/
zed/prompts/
*_backup.json
.ai/internal/
